body{
    background-image: url("../images/BGImg.jpeg");
    background-size: cover;
    height: 100vh;
    margin: 0px!important;
}
#header{
    position: fixed;
    height: 100px;
    top: 0px;
    width: 100%;
    background: #1a1a1a;
    border-bottom: 3px double #000000;
    z-index: 4;
}
#ciep_logo{
    margin-top: 5px;
    margin-left: 20px;
    width: 220px;
}
#static_menu {
    position: relative; 
    width: 250px;
    height: 100vh;
    z-index: 1; 
}

#static_menu_deco {
    position: fixed;
    top: 0;
    left: 0;
    background: #1a1a1a;
    width: 220px;
    height: 900px; 
    clip-path: polygon(0 0, 60% 0, 0% 100%, 0 100%); 
    margin-top: 100px;
    z-index: 3; 
}

#static_menu_options {
    margin-top: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background: #474747;
    width: 260px;
    height: 900px; 
    clip-path: polygon(0 0, 100% 0, 40% 100%, 0 100%);
    z-index: -1; 
}
#dinamic_content{
    position: absolute;
    top: 100px;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.left_info_container{
    position: relative;
    background: #ffffffa1;
    width: 100%;
    height: 200px;
    margin-top: 100px;
    padding-left: 200px;
    display: flex;
    justify-content: flex-start;
}
.right_info_container{
    position: relative;
    background: #ffffffa1;
    width: 100%;
    height: 200px;
    margin-top: 150px;
    display: flex;
    justify-content: flex-end;
}
.right_info_img{
    position: relative;
    height: 700px;
    top: -375px;
    right: 0px;
}
.left_info_img{
    position: relative;
    height: 500px;
    top: -210px;
    left: 0;
}
#menu-list{
    position: absolute;
    top: 10px;
    left: 115px;
    list-style: none;
    margin: -25px;
    color: white;
}
#menu-list > li{
    margin-top: 40px;

}
#menu-list > *:hover{
    scale: 105%;
}

#menu-list > li{
    position: relative;
    z-index: 2;
    pointer-events: none;
}
#menu_inicio_higlight, #menu_cursos_higlight, #menu_institucion_higlight, #menu_asociaciones_higlight, #menu_contacto_higlight{
    position: relative;
    background: #00000000;
    width: 200px!important;
    top: 65px;
    height: 40px!important;
    z-index: 1;
}
#menu_inicio_higlight:hover, #menu_cursos_higlight:hover, #menu_institucion_higlight:hover, #menu_asociaciones_higlight:hover, #menu_contacto_higlight:hover{
    position: relative;
    background: rgb(162,162,162);
    background: linear-gradient(270deg, rgba(162,162,162,0) 0%, rgba(100,231,255,1) 100%);
    width: 200px!important;
    top: 65px;
    height: 40px!important;
    z-index: 1;
}
#menu_inicio_higlight, #menu_inicio_higlight:hover{
    left: -20px;
}

#menu_cursos_higlight, #menu_cursos_higlight:hover{
    left: -30px;
}

#menu_institucion_higlight, #menu_institucion_higlight:hover{
    left: -50px;
}

#menu_asociaciones_higlight, #menu_asociaciones_higlight:hover{
    left: -70px;
}

#menu_contacto_higlight, #menu_contacto_higlight:hover{
    left: -100px;
}


#menu_inicio{
    margin-left: 10px;
}
#menu_cursos{
    margin-left: -3px;
}
#menu_institucion{
    margin-left: -18px;
}
#menu_asociaciones{
    margin-left: -34px;
}
#menu_contacto{
    margin-left: -48px;
}