body{
    display: flex;
    justify-content: center;
    background-image: url("../images/BGImg.jpeg");
    background-size: cover;
    height: 100vh;
    margin: 0px!important;
}
#header{
    position: fixed;
    display: flex;
    justify-content: center;
    height: 250px;
    top: 0px;
    width: 100%;
    background-image: url("../images/Header_BG.png");
    background-size: cover;
    z-index: 1
}
.little_div{
    position: relative;
    width: 100%;
    height: 50px;
}   
#ciep_logo{
    position: relative;
    margin-top: 5px;
    width: 220px;
    height: 100px; 
}
.ciep_BTN_active{
    font-family: cursive;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.ciep_BTN_unactive{
    font-family: cursive;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background: #00000000;
    color: white;
    border-style: none;
}

#menu{
    position: relative;
    width: 100%;
    height:40px;
    background: rgb(47, 47, 48);
    background: linear-gradient(0deg, rgb(83, 83, 83) 0%, rgb(43, 43, 43) 100%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#menu_btn_container{
    position: relative;
    padding-left: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    column-gap: 10px;
    
}

#dinamic_content_container{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
#floating_body {
    background: #d6d6d6;
    position: fixed;
    width: 80%;
    height: 85%;
    top: 15%;
    z-index: 2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#shadow_right{
    position: fixed;
    right: calc(10% - 72px);
    top: 10%;
    height: 500px;
    z-index: 2;
}
#shadow_left{
    position: fixed;
    left: calc(10% - 72px);
    top: 10%;
    height: 500px;
    z-index: 2;
}
.titulos{
    text-align: center;
}

.infos{
    text-align: center;
}


@media (max-width: 650px) {
    #menu{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    #floating_body {
        width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    #shadow_right{
        display: none;
    }
    #shadow_left{
        display: none;
    }
}

/*------[estilos dentro del dinamic content]------*/

#dinamic_content{
    top: 100px;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow-y: auto;

}

#dinamic_content::-webkit-scrollbar {
    display: none;  /* Safari y Chrome */
}
  
#dinamic_content {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.content_title_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background: #e7e7e7;
    width: 100%;
    height: 60px;
}

.left_img_container{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    background: #ffffff9a;
}

.left_content_img{
    position: relative;
    width: 70%;
    background-image: url("../images/Welcome_img.jpeg");
    background-size: cover;
    background-position: center;
}

.left_content_p{
    margin: 20px;
    position: relative;
    width: 30%;
}
@media (max-width: 1200px) {
    .left_img_container{
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        background: #ffffff9a;
    }
    .left_content_img{
        position: relative;
        width: 100%;
        height: 250px;
        background-image: url("../images/Welcome_img.jpeg");
        background-size: cover;
        background-position: center;
    }
    .left_content_p{
        margin: 20px;
        position: relative;
        width: 90%;
    }
}

/*------[estilos de Mision Vision y Valores]------*/

#MVV_container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #ffffff9a;
    width: 100%;
}

.card_group_container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.5s all;
}

.MVV_card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s all;
    margin: 0 -60px;  /* aumenta o disminuye el espaciado cuando no esta activo */
}

.MVV_card.active {
    margin: 0 50px;  /* aumenta o disminuye el espaciado cuando está activo */
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 8px, transparent 8px) 0% 0%/30px 30px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 8px, transparent 8px) 100% 0%/ 30px 30px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 8px, transparent 8px) 0% 100%/30px 30px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 8px, transparent 8px) 100% 100%/30px 30px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 44px) calc(100% - 0px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 60px) calc(100% - 44px) no-repeat,
            linear-gradient(90deg, rgba(26,26,26,0) 0%, #464646 12%, #313131 88%, rgba(253,253,253,0) 100%);
    border-radius: 30px;
    padding: 34px;
    box-sizing: border-box;
    padding: 40px;
}

.MVV-body {
    width: auto;
}

.MVV_title {
    color: rgb(104, 104, 104);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
}

.MVV_content {
    opacity: 0;
    transition: opacity 0.5s ease, max-height 0.5s ease;
    width: 400px;
    max-height: 0;
    overflow: hidden;
}

.MVV_content.active {
    opacity: 1;
    max-height: 500px;  /* ajusta este valor según el contenido del texto */
}

.MVV_img {
    position: relative;
    width: 100px;
}

@media (max-width: 1400px) {
    .MVV_card {
        width: 100%; /* Ajusta el ancho de las tarjetas en pantallas pequeñas */
        margin: 10px -60px; /* Reduce el margen para pantallas pequeñas */
    }

    .MVV_img {
        width: 80px; /* Ajusta el tamaño de las imágenes en pantallas pequeñas */
    }

    .MVV_title {
        font-size: 24px; /* Reduce el tamaño de la fuente del título en pantallas pequeñas */
    }

    .MVV_content {
        width: 100%; /* Ajusta el ancho del contenido en pantallas pequeñas */
    }
}


@media (max-width: 1000px) {
    .card_group_container {
        flex-direction: column;
        align-items: center;
    }

    .MVV_card {
        width: 90%; /* Ajusta el ancho de las tarjetas en pantallas pequeñas */
        margin: 10px 0; /* Reduce el margen para pantallas pequeñas */
    }

    .MVV_img {
        width: 80px; /* Ajusta el tamaño de las imágenes en pantallas pequeñas */
    }

    .MVV_title {
        font-size: 24px; /* Reduce el tamaño de la fuente del título en pantallas pequeñas */
    }

    .MVV_content {
        width: 100%; /* Ajusta el ancho del contenido en pantallas pequeñas */
    }
}

/*  Estilos de SERVICIOS  */

/* grupo de cards */
.custom-card-group {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

/* Custom card styles */
.custom-card {
    background-color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, filter 0.2s;
    margin: 10px;
    flex: 1 1 calc(33.333% - 20px); /* Three cards per row with space */
    max-width: calc(33.333% - 20px);
}

.custom-card:hover {
    transform: translateY(-10px);
}

.custom-card-img-top {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.custom-card-body {
    padding: 20px;
    text-align: center;
}

.custom-card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #007bff;
}

.custom-card-text {
    font-size: 1em;
    line-height: 1.5;
    color: #555;
}

/* Title styles */
.titulos {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    color: #333;
}

/* Darken effect on non-hovered cards */
.custom-card-group.darken .custom-card:not(.hovered) {
    filter: brightness(0.5);
}